In [1]:
import pandas as pd

import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
url='https://docs.google.com/spreadsheets/d/e/2PACX-1vQMVr8Cy2DN4e5XiTfdlulCQ0daWzEP6YNmccvzgUuWre5IgJ0hmLxi-LfMpqS7T-1msiWIIDR5fehX/pub?output=csv'

df=pd.read_csv(url)
df

,nombreSal,Cloruro De Sodio,Calcio,Fósforo,Magnesio,Azufre,Zinc,Cobre,Yodo,Cobalto,Flúor,Humedad,Selenio,Cromo
0,Supragan7,29.0,16,7,0.5,6,0.66,0.15,0.01,0.007,0.07,5,0.0072,NaN
1,Ganazufre 3-14,37.9,12,3,0.3,14,0.56,0.25,0.01,0.005,0.03,5,0.0050,0.0005

In [29]:
df= df.T.reset_index()
df

               index           0               1
0          nombreSal  Supragan7   Ganazufre 3-14
1   Cloruro De Sodio        29.0            37.9
2             Calcio          16              12
3            Fósforo           7               3
4           Magnesio         0.5             0.3
5             Azufre           6              14
6               Zinc        0.66            0.56
7              Cobre        0.15            0.25
8               Yodo        0.01            0.01
9            Cobalto       0.007           0.005
10             Flúor        0.07            0.03
11           Humedad           5               5
12           Selenio      0.0072           0.005
13             Cromo         NaN          0.0005

In [30]:
#set column names equal to values in row index position 0
df.columns = df.iloc[0]

#remove first row from DataFrame
df = df[1:]

#view updated DataFrame
df

0          nombreSal Supragan7  Ganazufre 3-14
1   Cloruro De Sodio       29.0           37.9
2             Calcio         16             12
3            Fósforo          7              3
4           Magnesio        0.5            0.3
5             Azufre          6             14
6               Zinc       0.66           0.56
7              Cobre       0.15           0.25
8               Yodo       0.01           0.01
9            Cobalto      0.007          0.005
10             Flúor       0.07           0.03
11           Humedad          5              5
12           Selenio     0.0072          0.005
13             Cromo        NaN         0.0005

In [31]:
df['nombreSal']

1     Cloruro De Sodio
2               Calcio
3              Fósforo
4             Magnesio
5               Azufre
6                 Zinc
7                Cobre
8                 Yodo
9              Cobalto
10               Flúor
11             Humedad
12             Selenio
13               Cromo
Name: nombreSal, dtype: object

In [32]:
df= df.reset_index(drop=True)
df

0          nombreSal Supragan7  Ganazufre 3-14
0   Cloruro De Sodio       29.0           37.9
1             Calcio         16             12
2            Fósforo          7              3
3           Magnesio        0.5            0.3
4             Azufre          6             14
5               Zinc       0.66           0.56
6              Cobre       0.15           0.25
7               Yodo       0.01           0.01
8            Cobalto      0.007          0.005
9              Flúor       0.07           0.03
10           Humedad          5              5
11           Selenio     0.0072          0.005
12             Cromo        NaN         0.0005

In [33]:
df['nombreSal']

0     Cloruro De Sodio
1               Calcio
2              Fósforo
3             Magnesio
4               Azufre
5                 Zinc
6                Cobre
7                 Yodo
8              Cobalto
9                Flúor
10             Humedad
11             Selenio
12               Cromo
Name: nombreSal, dtype: object

# Graficar

In [12]:
df

0  Supragan7  Ganazufre 3-14
0        29.0           37.9
1          16             12
2           7              3
3         0.5            0.3
4           6             14
5        0.66           0.56
6        0.15           0.25
7        0.01           0.01
8       0.007          0.005
9        0.07           0.03
10          5              5
11     0.0072          0.005
12        NaN         0.0005