In [2]:
import pandas as pd

import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
url='https://docs.google.com/spreadsheets/d/e/2PACX-1vRx_CVnWnkHk8LDKLmB4llSA2WF917czueM4OdfFPMx1RqgYV3YICTeK5eXn5jeKh5ym-H3lYphe-19/pub?output=csv'
df=pd.read_csv(url)
df

       Formula                        Nombre  W or MW          color
0           Ca                       CALCIUM   40.078  silvery-white
1        CaCO3             CALCIUM CARBONATE  100.090            NaN
2         CaC2               CALCIUM CARBIDE   64.100            NaN
3        CaCl2              CALCIUM CHLORIDE      NaN            NaN
4        CaCN2             CALCIUM CYANAMIDE      NaN            NaN
5         CaF2              CALCIUM FLUORIDE   78.075            NaN
6         CaH2               CALCIUM HYDRIDE      NaN            NaN
7      Ca(OH)2             CALCIUM HYDROXIDE      NaN            NaN
8     Ca(OCl)2          CALCIUM HYPOCHLORITE      NaN            NaN
9     Ca(NO3)2               CALCIUM NITRATE      NaN            NaN
10         CaO                 CALCIUM OXIDE      NaN            NaN
11      CaHPO4    CALCIUM PHOSPHATE, DIBASIC      NaN            NaN
12  Ca(H2PO4)2  CALCIUM PHOSPHATE, MONOBASIC      NaN            NaN
13   Ca3(PO4)3   CALCIUM PHOSPHATE, TRIBASIC      NaN            NaN
14       CaSO4               CALCIUM SULFATE      NaN            NaN
15         CaS               CALCIUM SULFIDE      NaN            NaN

In [28]:
df['Formula']

0             Ca
1          CaCO3
2           CaC2
3          CaCl2
4          CaCN2
5           CaF2
6           CaH2
7        Ca(OH)2
8       Ca(OCl)2
9       Ca(NO3)2
10           CaO
11        CaHPO4
12    Ca(H2PO4)2
13     Ca3(PO4)3
14         CaSO4
15           CaS
Name: Formula, dtype: object

In [29]:
df['Formula'].replace('CaCO3','\ch{CaCO3}' )

0             Ca
1     \ch{CaCO3}
2           CaC2
3          CaCl2
4          CaCN2
5           CaF2
6           CaH2
7        Ca(OH)2
8       Ca(OCl)2
9       Ca(NO3)2
10           CaO
11        CaHPO4
12    Ca(H2PO4)2
13     Ca3(PO4)3
14         CaSO4
15           CaS
Name: Formula, dtype: object

In [32]:
import pandas as pd
technologies = ({
     'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
     'Fee' :[20000,25000,26000,22000,24000],
     'Duration':['30days','40days','35days','40days','60days'],
     'Discount':[1000,1500,2500,2100,2000]
               })
df = pd.DataFrame(technologies)
df

   Courses    Fee Duration  Discount
0    Spark  20000   30days      1000
1  PySpark  25000   40days      1500
2   Hadoop  26000   35days      2500
3   Python  22000   40days      2100
4   pandas  24000   60days      2000

In [33]:
# Using + operator to combine two columns
df["Period"] = df['Courses'].astype(str) +"-"+ df["Duration"]
print(df)

   Courses    Fee Duration  Discount          Period
0    Spark  20000   30days      1000    Spark-30days
1  PySpark  25000   40days      1500  PySpark-40days
2   Hadoop  26000   35days      2500   Hadoop-35days
3   Python  22000   40days      2100   Python-40days
4   pandas  24000   60days      2000   pandas-60days

In [34]:
url='https://docs.google.com/spreadsheets/d/e/2PACX-1vRx_CVnWnkHk8LDKLmB4llSA2WF917czueM4OdfFPMx1RqgYV3YICTeK5eXn5jeKh5ym-H3lYphe-19/pub?output=csv'
df=pd.read_csv(url)
df

       Formula                        Nombre  W or MW          color
0           Ca                       CALCIUM   40.078  silvery-white
1        CaCO3             CALCIUM CARBONATE  100.090            NaN
2         CaC2               CALCIUM CARBIDE   64.100            NaN
3        CaCl2              CALCIUM CHLORIDE      NaN            NaN
4        CaCN2             CALCIUM CYANAMIDE      NaN            NaN
5         CaF2              CALCIUM FLUORIDE   78.075            NaN
6         CaH2               CALCIUM HYDRIDE      NaN            NaN
7      Ca(OH)2             CALCIUM HYDROXIDE      NaN            NaN
8     Ca(OCl)2          CALCIUM HYPOCHLORITE      NaN            NaN
9     Ca(NO3)2               CALCIUM NITRATE      NaN            NaN
10         CaO                 CALCIUM OXIDE      NaN            NaN
11      CaHPO4    CALCIUM PHOSPHATE, DIBASIC      NaN            NaN
12  Ca(H2PO4)2  CALCIUM PHOSPHATE, MONOBASIC      NaN            NaN
13   Ca3(PO4)3   CALCIUM PHOSPHATE, TRIBASIC      NaN            NaN
14       CaSO4               CALCIUM SULFATE      NaN            NaN
15         CaS               CALCIUM SULFIDE      NaN            NaN

In [41]:
df["latex"] = df['Formula'].astype(str) +"-"+ df["color"].astype(str)
df

,Formula,Nombre,W or MW,color,latex
0,Ca,CALCIUM,40.078,silvery-white,Ca-silvery-white
1,CaCO3,CALCIUM CARBONATE,100.090,NaN,CaCO3-nan
2,CaC2,CALCIUM CARBIDE,64.100,NaN,CaC2-nan
3,CaCl2,CALCIUM CHLORIDE,NaN,NaN,CaCl2-nan
4,CaCN2,CALCIUM CYANAMIDE,NaN,NaN,CaCN2-nan
5,CaF2,CALCIUM FLUORIDE,78.075,NaN,CaF2-nan
6,CaH2,CALCIUM HYDRIDE,NaN,NaN,CaH2-nan
7,Ca(OH)2,CALCIUM HYDROXIDE,NaN,NaN,Ca(OH)2-nan
8,Ca(OCl)2,CALCIUM HYPOCHLORITE,NaN,NaN,Ca(OCl)2-nan
9,Ca(NO3)2,CALCIUM NITRATE,NaN,NaN,Ca(NO3)2-nan
10,CaO,CALCIUM OXIDE,NaN,NaN,CaO-nan
11,CaHPO4,"CALCIUM PHOSPHATE, DIBASIC",NaN,NaN,CaHPO4-nan
12,Ca(H2PO4)2,"CALCIUM PHOSPHATE, MONOBASIC",NaN,NaN,Ca(H2PO4)2-nan
13,Ca3(PO4)3,"CALCIUM PHOSPHATE, TRIBASIC",NaN,NaN,Ca3(PO4)3-nan
14,CaSO4,CALCIUM SULFATE,NaN,NaN,CaSO4-nan
15,CaS,CALCIUM SULFIDE,NaN,NaN,CaS-nan

In [48]:
df["latexDos"] = "ch{" + df['Formula'].astype(str) +"}"
df

,Formula,Nombre,W or MW,color,latex,latexDos
0,Ca,CALCIUM,40.078,silvery-white,Ca-silvery-white,ch{Ca}
1,CaCO3,CALCIUM CARBONATE,100.090,NaN,CaCO3-nan,ch{CaCO3}
2,CaC2,CALCIUM CARBIDE,64.100,NaN,CaC2-nan,ch{CaC2}
3,CaCl2,CALCIUM CHLORIDE,NaN,NaN,CaCl2-nan,ch{CaCl2}
4,CaCN2,CALCIUM CYANAMIDE,NaN,NaN,CaCN2-nan,ch{CaCN2}
5,CaF2,CALCIUM FLUORIDE,78.075,NaN,CaF2-nan,ch{CaF2}
6,CaH2,CALCIUM HYDRIDE,NaN,NaN,CaH2-nan,ch{CaH2}
7,Ca(OH)2,CALCIUM HYDROXIDE,NaN,NaN,Ca(OH)2-nan,ch{Ca(OH)2}
8,Ca(OCl)2,CALCIUM HYPOCHLORITE,NaN,NaN,Ca(OCl)2-nan,ch{Ca(OCl)2}
9,Ca(NO3)2,CALCIUM NITRATE,NaN,NaN,Ca(NO3)2-nan,ch{Ca(NO3)2}
10,CaO,CALCIUM OXIDE,NaN,NaN,CaO-nan,ch{CaO}
11,CaHPO4,"CALCIUM PHOSPHATE, DIBASIC",NaN,NaN,CaHPO4-nan,ch{CaHPO4}
12,Ca(H2PO4)2,"CALCIUM PHOSPHATE, MONOBASIC",NaN,NaN,Ca(H2PO4)2-nan,ch{Ca(H2PO4)2}
13,Ca3(PO4)3,"CALCIUM PHOSPHATE, TRIBASIC",NaN,NaN,Ca3(PO4)3-nan,ch{Ca3(PO4)3}
14,CaSO4,CALCIUM SULFATE,NaN,NaN,CaSO4-nan,ch{CaSO4}
15,CaS,CALCIUM SULFIDE,NaN,NaN,CaS-nan,ch{CaS}

In [22]:
df['Formula']=df['Formula'].str.replace(r'\D+','',regex=True)
df['Formula']

0
1       3
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9      32
10
11      4
12    242
13    343
14      4
15
Name: Formula, dtype: object

error: ignored

In [12]:
df = pd.DataFrame(['$40,000*','$40000 conditions attached'], columns=['P'])
print(df)
#                             P
# 0                    $40,000*
# 1  $40000 conditions attached

df['P'] = df['P'].str.replace(r'\D+', '', regex=True).astype('int')
print(df)

                            P
0                    $40,000*
1  $40000 conditions attached
       P
0  40000
1  40000