# Pandas series

operaciones aritmeticas
distintos tipos de datos

# pandas dataframe

Estructura principal
arreglo de dos dimensiones
busqueda por indice(columnas o filas)

slicing
operaciones aritmeticas
distintos tipos de datos
tama√±o variable

In [1]:
import pandas as pd

In [8]:
psg_players =pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

# que pasa si no defino los indices

In [3]:
pd.Series(['Navas','Mbappe','Neymar','Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

# ahora crear dataframe por medio de un diccionario

In [7]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
psg_players[1]

'Navas'

In [10]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

# que pasa si necestio tener mas cosas , mas informacion pero en un dataframe


como ahora tengo 3 dimensiones uso Dataframe que es matricial

In [16]:
dict={'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183,170,170,165],
 'Goles':[2,200,200,200]
 
 
 }

In [17]:
pd.DataFrame(dict,index=[1,7,10,10])

   Jugador  Altura  Goles
1    Navas     183      2
7   Mbappe     170    200
10  Neymar     170    200
10   Messi     165    200

In [18]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas     183      2
1  Mbappe     170    200
2  Neymar     170    200
3   Messi     165    200

In [19]:
df_players=pd.DataFrame(dict)
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [20]:
df_players.index

RangeIndex(start=0, stop=4, step=1)