In [1]:
import pandas as pd

In [2]:
df_books=pd.read_csv('/content/bestsellers-with-categories_e591527f-ae45-4fa5-b0d1-d50142128fa6.csv', sep=',')
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

# uso de agrupamientos o funciones de agregacion

In [5]:
df_books.groupby('Author')

# vamos a saber cuantos por author

In [6]:
df_books.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

# puedo saber el maximo , el minimo

In [12]:
df_books.groupby('Author').max().head(2)

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction

In [13]:
df_books.groupby('Author').min().head(2)

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction

# author esta un poco mas abajo de las comunas entonces eso es porque es mi indice del dataframe

In [15]:
df_books.groupby('Author').count().loc['Walter Isaacson']

Name           3
User Rating    3
Reviews        3
Price          3
Year           3
Genre          3
Name: Walter Isaacson, dtype: int64

# ahora que pasa si yo quiero los valores planos

osea lo que salio pero en un dataframe

In [18]:
df_books.groupby('Author').count().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,2,2,2,2,2,2
1,Adam Gasiewski,1,1,1,1,1,1
2,Adam Mansbach,1,1,1,1,1,1
3,Adir Levy,1,1,1,1,1,1
4,Admiral William H. McRaven,1,1,1,1,1,1
...,...,...,...,...,...,...,...
243,Walter Isaacson,3,3,3,3,3,3
244,William Davis,2,2,2,2,2,2
245,William P. Young,2,2,2,2,2,2
246,Wizards RPG Team,3,3,3,3,3,3
247,Zhi Gang Sha,2,2,2,2,2,2

In [19]:
df_books.groupby('Author').sum().reset_index()

                         Author  User Rating  Reviews  Price  Year
0              Abraham Verghese          9.2     9732     22  4021
1                Adam Gasiewski          4.4     3113      6  2017
2                 Adam Mansbach          4.8     9568      9  2011
3                     Adir Levy          4.8     8170     13  2019
4    Admiral William H. McRaven          4.7    10199     11  2017
..                          ...          ...      ...    ...   ...
243             Walter Isaacson         13.7    18668     61  6040
244               William Davis          8.8    14994     12  4025
245            William P. Young          9.2    39440     16  4026
246            Wizards RPG Team         14.4    50970     81  6054
247                Zhi Gang Sha          9.2      257     23  4022

[248 rows x 5 columns]

# pdemos hacer que el agrupamiento sea por determinadas unciones de agregacion

In [21]:
df_books.groupby('Author').agg(['min','max'])

                                                                         Name  \
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                                                                               \
                                                                          max
Author
Abraham Verghese                                            Cutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year  \
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

In [23]:
df_books.groupby('Author').agg(['count','sum'])

                            Name  \
                           count
Author
Abraham Verghese               2
Adam Gasiewski                 1
Adam Mansbach                  1
Adir Levy                      1
Admiral William H. McRaven     1
...                          ...
Walter Isaacson                3
William Davis                  2
William P. Young               2
Wizards RPG Team               3
Zhi Gang Sha                   2

                                                                               \
                                                                          sum
Author
Abraham Verghese                           Cutting for StoneCutting for Stone
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                         Leonardo da VinciSteve JobsSteve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young            The Shack: Where Tragedy Confronts EternityThe...
Wizards RPG Team            Player's Handbook (Dungeons & Dragons)Player's...
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...

                           User Rating       Reviews        Price      Year  \
                                 count   sum   count    sum count sum count
Author
Abraham Verghese                     2   9.2       2   9732     2  22     2
Adam Gasiewski                       1   4.4       1   3113     1   6     1
Adam Mansbach                        1   4.8       1   9568     1   9     1
Adir Levy                            1   4.8       1   8170     1  13     1
Admiral William H. McRaven           1   4.7       1  10199     1  11     1
...                                ...   ...     ...    ...   ...  ..   ...
Walter Isaacson                      3  13.7       3  18668     3  61     3
William Davis                        2   8.8       2  14994     2  12     2
William P. Young                     2   9.2       2  39440     2  16     2
Wizards RPG Team                     3  14.4       3  50970     3  81     3
Zhi Gang Sha                         2   9.2       2    257     2  23     2

                                 Genre
                             sum count                                sum
Author
Abraham Verghese            4021     2                     FictionFiction
Adam Gasiewski              2017     1                        Non Fiction
Adam Mansbach               2011     1                            Fiction
Adir Levy                   2019     1                            Fiction
Admiral William H. McRaven  2017     1                        Non Fiction
...                          ...   ...                                ...
Walter Isaacson             6040     3  Non FictionNon FictionNon Fiction
William Davis               4025     2             Non FictionNon Fiction
William P. Young            4026     2                     FictionFiction
Wizards RPG Team            6054     3              FictionFictionFiction
Zhi Gang Sha                4022     2             Non FictionNon Fiction

[248 rows x 12 columns]

# ahora quiero que de los reviews haga maximo y minimo pero del usser rating haga suma

In [26]:
df_books.groupby('Author').agg({'Reviews':['min','max'],'User Rating':'sum'})

                           Reviews        User Rating
                               min    max         sum
Author
Abraham Verghese              4866   4866         9.2
Adam Gasiewski                3113   3113         4.4
Adam Mansbach                 9568   9568         4.8
Adir Levy                     8170   8170         4.8
Admiral William H. McRaven   10199  10199         4.7
...                            ...    ...         ...
Walter Isaacson               3014   7827        13.7
William Davis                 7497   7497         8.8
William P. Young             19720  19720         9.2
Wizards RPG Team             16990  16990        14.4
Zhi Gang Sha                    37    220         9.2

[248 rows x 3 columns]

In [27]:
df_books.groupby(['Author','Year']).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]

In [28]:
df_books.groupby(['Author','Year']).count().reset_index()

               Author  Year  Name  User Rating  Reviews  Price  Genre
0    Abraham Verghese  2010     1            1        1      1      1
1    Abraham Verghese  2011     1            1        1      1      1
2      Adam Gasiewski  2017     1            1        1      1      1
3       Adam Mansbach  2011     1            1        1      1      1
4           Adir Levy  2019     1            1        1      1      1
..                ...   ...   ...          ...      ...    ...    ...
488  Wizards RPG Team  2017     1            1        1      1      1
489  Wizards RPG Team  2018     1            1        1      1      1
490  Wizards RPG Team  2019     1            1        1      1      1
491      Zhi Gang Sha  2009     1            1        1      1      1
492      Zhi Gang Sha  2013     1            1        1      1      1

[493 rows x 7 columns]