In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
import zipfile
import os

# Definimos la ruta al archivo ZIP que queremos descomprimir

zip_path = '/content/drive/MyDrive/ColabNotebooks/EscuelaDeDataScienceEInteligenciaArtificial/Data e Inteligencia Artificial/Practicas/caquetaDane/18_Caqueta/18Caqueta/18_Caqueta_CSV.zip'


# Creamos una carpeta para almacenar los archivos descomprimidos
unzip_folder = '/content/unzip_folder'
if not os.path.exists(unzip_folder):
    os.makedirs(unzip_folder)

# Abrimos el archivo ZIP y lo descomprimimos en la carpeta creada anteriormente
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(unzip_folder)
    
# Imprimimos la lista de archivos descomprimidos
print(os.listdir(unzip_folder))

['CNPV2018_3FALL_A2_18.CSV', 'CNPV2018_MGN_A2_18.CSV', 'CNPV2018_5PER_A2_18.CSV', 'CNPV2018_1VIV_A2_18.CSV', 'CNPV2018_2HOG_A2_18.CSV']

In [31]:
df=pd.read_csv('/content/unzip_folder/CNPV2018_5PER_A2_18.CSV')
df

,TIPO_REG,U_DPTO,U_MPIO,UA_CLASE,COD_ENCUESTAS,U_VIVIENDA,P_NROHOG,P_NRO_PER,P_SEXO,P_EDADR,...,PA1_THSV,PA2_HSVH,PA3_HSVM,PA_HFC,PA1_THFC,PA2_HFCH,PA3_HFCM,PA_UHNV,PA1_MES_UHNV,PA2_ANO_UHNV
0,5,18,1,1,401664,1,1.0,1,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,18,1,1,401664,1,1.0,2,2,6,...,3.0,1.0,2.0,2.0,NaN,NaN,NaN,1.0,5.0,2018.0
2,5,18,1,1,401664,1,1.0,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,18,1,1,401664,1,1.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,18,1,1,401664,1,1.0,5,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359597,5,18,860,3,902346323,2,1.0,1,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359598,5,18,860,3,902346323,2,1.0,2,2,5,...,2.0,2.0,0.0,2.0,NaN,NaN,NaN,1.0,10.0,2017.0
359599,5,18,860,3,902346323,2,1.0,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359600,5,18,860,3,902346323,2,1.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359601,5,18,860,3,902346447,3,1.0,1,2,12,...,2.0,1.0,1.0,2.0,NaN,NaN,NaN,9.0,NaN,NaN

In [32]:
#numero de personas en Caqueta
print('el numero de personas en el Caqueta es :',df.shape[0])

el numero de personas en el Caqueta es : 359602

In [33]:
df['P_SEXO']

0         1
1         2
2         2
3         1
4         2
         ..
359597    1
359598    2
359599    1
359600    1
359601    2
Name: P_SEXO, Length: 359602, dtype: int64

In [36]:
df['P_SEXO'].value_counts()

1    182378
2    177224
Name: P_SEXO, dtype: int64

In [51]:
counts = df['P_SEXO'].value_counts()
total = df['P_SEXO'].count()
prop = counts / total*100

print("Hay", counts[1], "hombres y", counts[2], "mujeres en el DataFrame.")
print("La proporción de hombres es:", prop[1], "y la proporción de mujeres es:", prop[2])

Hay 182378 hombres y 177224 mujeres en el DataFrame.
La proporción de hombres es: 50.71662560274971 y la proporción de mujeres es: 49.2833743972503

359602