In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd

In [13]:
df=pd.read_csv('/content/drive/MyDrive/ColabNotebooks/EscuelaDeDataScienceEInteligenciaArtificial/Data e Inteligencia Artificial/20 Curso de RegresioÃÅn Lineal con Python y scikit-learn/insurance.csv')
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

5284